@import "tailwindcss";

@theme {
  --color-pv-blue: #3D3DFF;
  --color-pv-mint: #7CFFC4;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.pv-container {
  @apply w-full max-w-[1400px] mx-auto px-10;
}

@keyframes ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}